body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
    margin: 0px;
}

h1 {
    margin-top: 30px;
}

.navbar-logo{
    height: 28.93px;
    margin-left: 10px;
}
.navbar-heading{
    color: #61DAFB;
    padding-left: 15px;
}
.navbar-logo-title
{
    width: 100%;
    height: 90px;
    background-color: #21222A;
    display: flex;
    font-weight: 700;
    align-items: center;
    
}
main{
    padding: 60px 30px;
    background-image: url(React-Emblem.png);
    background-repeat: no-repeat;
    background-size: 1500px;
    height: 1000px;
    background-position: right -680px top;
}
main > h1
{
    margin: 0px;
    font-size: 2.4rem;
}
.main-list{
    margin-top: 46px;
    max-width: 400px;
}
.main-list > li{
    padding-block: 10px;
}
.main-list > li::marker{
    color: #61DAFB;
    font-size: 1.5rem;
}
